-
    const leftAni = [
        'wow', 
        'animate__animated', 
        'animate__fadeInLeft',
    ]

    const rightAni = [
        'wow',
        'animate__animated',
        'animate__fadeInRight',
    ]

    const bottomAni = [
        'wow',
        'animate__animated',
        'animate__fadeInUp'
    ]