.faq {
    @media (max-width: $vp-md) {
        font-size: 0.8em;
    }

    @media (max-width: $vp-tablet) {
        font-size: 1em;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $vp-tablet) {
            flex-direction: column;
            justify-content: start;
        } 
    }

    &__text {
        width: 407px;
        max-width: 100%;

        @media (max-width: $vp-tablet) {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 2em;
        }
    }

    &__pre-title {
        font-weight: 500;
        line-height: 1.5em;
        color: $link-color;
        margin-bottom: 0.75em;
    }

    &__title {
        @media (max-width: $vp-xsm) {
            font-size: 1.8em;
        }
    }

    &__pgh {
        margin-top: 1.3333em;
        margin-bottom: 1.7778em;

        @media (max-width: $vp-xsm) {
            font-size: 1.1em;
            margin-top: 1em;
            margin-bottom: 1.4em;
        }
    }

    &__btn-row {

        @media (max-width: $vp-xsm) {
            font-size: 0.9em;
        }    
    }

    &__link {
        font-weight: 500;
        line-height: 1.1875em;
        color: $button-bg-color;
        text-decoration: none;
        margin-left: 1.5em;
        border-bottom: 1px solid transparent;

        transition: .1s ease-in-out;

        &:hover {
            border-bottom-color: $button-bg-color;
        }
    }

    &__questions {
        width: calc(50% - 15px);
        flex-shrink: 0;

        @media (max-width: $vp-wide) {
            width: 55%;
            margin-left: 2em;
        }

        @media (max-width: $vp-md) {
            width: 60%;
        }

        @media (max-width: $vp-tablet) {
            width: 100%;
            margin-left: 0;
        }

        @media (max-width: $vp-sm) {
            font-size: 0.9em;
        }
    }
}