.hero {
    padding: 5em 0;

    @media (max-width: $vp-wide) {
        font-size: 0.8rem;
        padding: 4em 0;
    }

    @media (max-width: $vp-md) {
        padding: 3em 0;
    }

    @media (max-width: $vp-xsm) {
        font-size: 0.65rem;
        padding: 2em 0;
    }
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $vp-tablet) {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    &__text {
        width: calc(50% - 15px);

        @media (max-width: $vp-md) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: start;
        }

        @media (max-width: $vp-tablet) {
            width: 450px;
            align-items: center;
            text-align: center;
        }

        @media (max-width: $vp-xsm) {
            width: 100%;
        }
    }

    &__title {
        line-height: 1.4em;
    }

    &__pgh {
        width: 485px;
        max-width: 100%;
        margin-top: 1.333em;
        margin-bottom: 2.5em;
    }

    &__img {
        width: 588px;
        flex-shrink: 0;
        
        @media (max-width: $vp-wide) {
            width: calc(50% - 15px);
        }

        @media (max-width: $vp-tablet) {
            width: 400px;
        }

        @media (max-width: $vp-xsm) {
            width: 80%;
        }

        @media (max-width: $vp-xxsm) {
            width: 100%;
        }

        img {
            max-width: 100%;
        }
    }
}