.hero {
    padding: 5em 0;
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__pgh {
        width: 485px;
        max-width: 100%;
        margin-top: 1.333em;
        margin-bottom: 2.5em;
    }
}