.rooms {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    @media (max-width: $vp-tablet) {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.room {
    width: 374px;
    position: relative;
    padding-bottom: 1.125em;

    &:nth-child(1) {
        animation-delay: .2s;
    }
    &:nth-child(2) {
        animation-delay: .4s;
    }
    &:nth-child(3) {
        animation-delay: .6s;
    }

    @media (max-width: $vp-wide) {
        width: 300px;
    }

    @media (max-width: $vp-md) {
        width: 225px;
        font-size: 0.9em;
    }

    @media (max-width: $vp-tablet) {
        margin-bottom: 2em;
    }

    @media (max-width: $vp-xsm) {
        width: 330px;
    }

    @media (max-width: $vp-xxsm) {
        width: 100%;
    }

    &__image {
        max-width: 100%;

        img {
            width: 100%;
        }
    }

    &__title {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 1.5em;
        line-height: 1.5em;
        color: #000000;
        margin-top: 1.333em;
    }

    &__descr {
        font-size: 1.125em;
        line-height: 1.5em;
        color: $pgh-color;
        margin-top: 0.89em;
        margin-bottom: 1.78em;
    }

    &__link {
        font-size: 1.125em;
        color: $link-color;
        cursor: pointer;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;

        &:after {
            content: '';
            display: block;
            background-image: url(../img/icons/arrow_right.svg);
            width: 20px;
            height: 20px;
            margin-left: 0.67em;
        }
    }
}