.text-with-image
    .text-with-image__wrapper.text-with-image__wrapper--right
        .container.text-with-image__container
            .text-with-image__content
                h2.title.text-with-image__title Cabin Activities
                p.pgh.text-with-image__pgh Don’t worry to get bored easily in our cabin. We have so many cabin activities for you to do it alone or with group. Maybe this is the best chance for you to make new friends or even a lover.
            .text-with-image__img
                img(src="assets/img/benefit.png", alt="")
    .text-with-image__wrapper.text-with-image__wrapper--left
        .container.text-with-image__container
            .text-with-image__content
                h2.title.text-with-image__title 100% Organic Food
                p.pgh.text-with-image__pgh
                    | We served 100% organic, low process and delicious food. We allow our guest to have breakfast or dinner request.What ever made your taste buds happy.
            .text-with-image__img
                img(src="assets/img/organic-food.png", alt="")