.hero
    .container.hero__container
        .hero__text
            h1.title.title_big.hero__title Nature, Warmth, and Beauty in One Space
            p.pgh.hero__pgh
                | One place to release all the stress, bring back happines, and get back to nature. We provide the best room and nature for you. Come visit us anytime you want.
            a.btn.hero__btn(href="") Reservation 
        .hero__img
            img(src="assets/img/hero.png")