.section.reviews
    .container.reviews__container

        h2.title.reviews__title(class=bottomAni) Hear From Our Happy Customers

        .reviews__slider(class=fadeAni)
            .splide
                .splide__track
                    .splide__list
                        .splide__slide.review
                            .review__img
                                img(src="assets/img/reviews/kirana.png", alt="")
                            p.pgh.review__pgh
                                | “Great service, great food, great people. The scenery is also beautiful, you can do so much activity even with your famility. Worth every penny! you should come and see for your self.  5 out of 5! the waffle is great!”
                            p.review__name Kirana Dunham

                        .splide__slide.review
                            .review__img
                                img(src="assets/img/reviews/kirana.png", alt="")
                            p.pgh.review__pgh
                                | “Great service, great food, great people. The scenery is also beautiful, you can do so much activity even with your famility. Worth every penny! you should come and see for your self.  5 out of 5! the waffle is great!”
                            p.review__name Kirana Dunham
                        
                        .splide__slide.review
                            .review__img
                                img(src="assets/img/reviews/kirana.png", alt="")
                            p.pgh.review__pgh
                                | “Great service, great food, great people. The scenery is also beautiful, you can do so much activity even with your famility. Worth every penny! you should come and see for your self.  5 out of 5! the waffle is great!”
                            p.review__name Kirana Dunham

