@mixin btn {
    background: $button-bg-color;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.18em;
    color: #fff;
    cursor: pointer;
    border: 2px solid $button-bg-color;
    transition: .1s ease;
    text-decoration: none;

    &:hover {
        background: transparent;
        color: $button-bg-color;
    }

    &:active {
        border-color: transparent;
    }

    &:focus {
        outline: none;
    }
}