:root {
    --containerWidth: 1200px;

    @media (max-width: $vp-wide) {
        --containerWidth: 960px;
    }

    @media (max-width: $vp-md) {
        --containerWidth: 738px;
    }

    @media (max-width: $vp-tablet) {
        --containerWidth: 100%;
    }
}

.container {
    width: var(--containerWidth);
    padding: 0 15px;
    margin: 0 auto;
}