.logo {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2em;
    line-height: 1.2em;
    color: $title-color;
    text-decoration: none;

    &_white {
        color: #fff;
    }

    &:focus {
        outline: none;
    }

    @media (max-width: $vp-sm) {
        font-size: 1.7em;
    }

    @media (max-width: $vp-xxsm) {
        font-size: 1.6em;
    }
}