.pgh {
    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.5em;
    color: $pgh-color;

    @media (max-width: $vp-wide) {
        font-size: 1.25em;
    }

    @media (max-width: $vp-xsm) {
        font-size: 1.6em;
    }
}