doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", href="assets/css/style.css")

        title Document
    body 
        include assets/pug/components/header
        include assets/pug/blocks/hero
        include assets/pug/blocks/about
        include assets/pug/blocks/benefit
        include assets/pug/blocks/reservation

        script(src="assets/js/index.js") 