header.header
    .container.header__container
        .logo.header__logo Cootels
        nav.top-nav
            .burger-menu
                span 
                span 
                span 
            ul.top-nav__list
                li.top-nav__item
                    a.top-nav__link(href="") Rooms
                li.top-nav__item
                    a.top-nav__link(href="") Reservation
                li.top-nav__item
                    a.top-nav__link(href="") Contacs
        a.btn.header__btn Get Started