header.header
    .container.header__container
        a.logo.header__logo(href="") Cootels
        .header__burger-menu
            span 
            span 
            span 
        nav.top-nav
            ul.top-nav__list
                li.top-nav__item
                    a.top-nav__link(href="") Rooms
                li.top-nav__item
                    a.top-nav__link(href="") Reservation
                li.top-nav__item
                    a.top-nav__link(href="") Contacs
            a.top-nav__btn Get Started