$vp-wide: 1240px;
$vp-md: 990px;
$vp-tablet: 768px;
$vp-sm: 580px;
$vp-xsm: 480px;
$vp-xxsm: 360px; 

$title-color: #192252;
$pgh-color: #848FAC;
$link-color: #424F7B;
$light-text-color: #D9DBDE;

$button-bg-color: #0E1734;
$dark-bg-color: #0B265A;

$ui-accent: #FF620A;
$ui-accent_light: #FAB047;